:root {
    --blue: #808C97;
    --green: #61673b;
    --yellow: #EDBC81;
    --brown: #A76B56;
    --black: #303030;
    --white: #f9f9f9;

    --labelColor: #908E9B;
    --disabledColor: #E1DFE9;

    --smallLenght1: 0.25rem;
    --smallLenght2: 0.5rem;
    --smallLenght3: 0.75rem;

    --mediumLenght1: 1rem;
    --mediumLenght2: 1.25rem;
    --mediumLenght3: 1.5rem;

    --largeLenght1: 2rem;
    --largeLenght2: 3rem;
    --largeLenght3: 4rem;
    --largeLenght4: 5rem;
    --largeLenght5: 6rem;
}

*{
    font-family: 'Poppins', 'Porduct Sans', 'SF Pro Display', sans-serif;
    box-sizing: border-box;
    color: var(--blackTextColor);
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize;*/
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x:  hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: var(--smallLenght3);
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
    border-radius: var(--largeLenght3);
}

body{
    background: var(--white);
}

section{
    padding: var(--largeLenght1) 7%;
}

 /* Navbar section */
header{
    background: var(--white);
    display: flex;
    justify-content: space-between;
    padding: var(--largeLenght1) 7%;
    border-bottom: var(--smallLenght1) solid var(--brown);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

header .logo img{
    height: var(--largeLenght5);
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    margin: 0 var(--mediumLenght1);
    font-size: var(--largeLenght1);
    color: var(--black);
}

nav a:hover{
    color: var(--brown);
    border-bottom: .1rem solid var(--brown);
    padding-bottom: var(--smallLenght2);
}

header .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header .icons i{
    color: var(--black);
    cursor: pointer;
    font-size: var(--largeLenght2);
    margin-left: var(--largeLenght1);
}

header .icons i:hover{
    color: var(--brown);
}

header .icons div:last-child{
    display: none;
}

header .search-bar{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: var(--white);
    width: 50rem;
    height: var(--largeLenght4);
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

header .search-bar.active{
    transform: scaleY(1);

}

header .search-bar input{
    width: 100%;
    height: 100%;
    font-size: var(--mediumLenght3);
    background: var(--white);
    color: var(--black);
    padding: var(--mediumLenght1);
    text-transform: none;
}

header .search-bar label{
    cursor: pointer;
    font-size: var(--largeLenght1);
    margin-right: var(--mediumLenght3);
    color: var(--black);
}

header .search-bar label:hover{
    color: var(--brown);
}

header .shop-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--white);
    padding: 0 var(--mediumLenght3);
}

header .shop-container.active{
    right: 0;
}

header .shop-container .shop-item{
    position: relative;
    margin: var(--largeLenght1) 0;
    display: flex;
    align-items: center;
    gap: var(--mediumLenght3);
}

header .shop-container .shop-item img{
    height: 7rem;
}

header .shop-container .shop-item .fa-x{
    position: absolute;
    top: var(--mediumLenght1);
    right: var(--mediumLenght1);
    font-size: var(--largeLenght1);
    cursor: pointer;
    color: var(--black);
}

header .shop-container .shop-item .fa-x:hover{
    color: var(--brown);
}

header .shop-container .shop-item .content h3{
    font-size: var(--largeLenght1);
    color: var(--black);
    padding-bottom: var(--smallLenght2);
}

header .shop-container .shop-item .content .price{
    font-size: var(--mediumLenght3);
    color: var(--brown);
}

.btn{
    margin-top: var(--mediumLenght1);
    display: inline-block;
    padding: var(--mediumLenght1) var(--largeLenght2);
    font-size: var(--largeLenght1);
    color: var(--white);
    background: var(--brown);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

header .shop-container .btn{
    width: 100%;
    text-align: center;
    transition: .2s linear;
}

/* ------------ */




/* Home section */

.home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/images/main-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 100rem;
}

.home .content h3{
    font-size: var(--largeLenght5);
    text-transform: uppercase;
    color: var(--black);
}

.home .content p{
    font-size: var(--largeLenght2);
    font-weight: lighter;
    line-height: 1.8;
    padding: var(--mediumLenght1) 0;
    color: var(--black);
}

/* ----------------- */




/* About section */

.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: var(--largeLenght3);
    font-size: var(--largeLenght3);
}

.heading span{
    color: var(--brown);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background: var(--white);
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
    height: 600px;
    border-radius: 0.5rem;

}

.about .row .content{
    flex: 1 1 45rem;
    padding: var(--largeLenght1);
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--black);
}

.about .row .content p{
    font-size: var(--mediumLenght3);
    color: var(--labelColor);
    padding: var(--mediumLenght1) 0;
    line-height: 1.8;
}


/* ----------------- */



/* Meinu section */

.blogs  .blogs-row .box {
    display: flex;
    align-items: center;
    background-color: var(--white);
    flex-wrap: wrap;
}
.blogs .blogs-row .box .img{
    flex: 1 1 45rem;
}
.blogs .blogs-row .box .img img{
    width: 100%;
    height: 600px;
    border-radius: 0.5rem;
}

.blogs .blogs-row .box .content{
    flex: 1 1 45rem;
    padding: var(--largeLenght1);
}

.blogs .blogs-row .box .content h3{
    font-size: 3.5rem;
    color: var(--black);
}

.blogs .blogs-row .box .content p{
    font-size: var(--mediumLenght3);
    color: var(--labelColor);
    padding: var(--mediumLenght1) 0;
    line-height: 1.8;
    
}

.blogs .blogs-row .box .content a{
    font-size: var(--largeLenght1);
    cursor: pointer;
}
.blogs .blogs-row .box .content a:hover{
    color: var(--black);
    text-shadow: var(--box-shadow);
}

/* ----------------- */



/* Product section */

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--mediumLenght3);
}

.products .box-container .box{
   text-align: center;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
   padding: var(--largeLenght1);
}

.products .box-container .box .icons a{
    height: var(--largeLenght4);
    width: var(--largeLenght4);
    line-height: var(--largeLenght4);
    font-size: var(--largeLenght1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: var(--black);
    margin: .3rem;
}

.products .box-container .box .icons a:hover{
    background-color:var(--brown);
}

.products .box-container .box .image{
    padding: var(--largeLenght1) 0;
}

.products .box-container .box .image img{
    height: 25rem;
    border-radius: 0.5rem;
}

.products .box-container .box .content h3{
    color: var(--black);
    font-size: var(--largeLenght1);
}

.products .box-container .box .content .stars{
    padding: var(--mediumLenght3);
}

.products .box-container .box .content .stars i{
    font-size: var(--mediumLenght3);
    color: var(--black);
}

.products .box-container .box .content .price{
    color: var(--black);
    font-size: var(--largeLenght1);
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: var(--mediumLenght3);
}
/* ----------------- */



/* review section */

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    width: 35rem !important;
    height: 30rem;
    padding: var(--largeLenght2) var(--largeLenght1);
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide .quotes i{
    color: var(--black);
    padding: var(--smallLenght2);
}

swiper-slide p{
    font-size: var(--mediumLenght3);
    line-height: var(--mediumLenght3);
    color: var(--black);
    padding-bottom: var(--largeLenght1);
}

swiper-slide h3{
    padding: var(--mediumLenght1) 0;
    font-size: var(--largeLenght1);
    color: var(--black);
}

swiper-slide img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%; 
    object-fit: cover;
}

swiper-slide .swiper-button-prev{
    color: var(--black) !important;
} 


/* ----------------- */



/* Media  */

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    nav{
        display: inline;
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--white);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    nav.active{
        right: 0;
    }

    nav a{
        display: block;
        margin: var(--mediumLenght3);
        padding: var(--smallLenght2);
        font-size: var(--largeLenght1);
    }

    header .search-bar{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: var(--largeLenght3);
        color: var(--white);
    }

    .home .content p{
        font-size: var(--largeLenght1);
        color: var(--white);
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: var(--mediumLenght3) var(--largeLenght1);
    }

    section{
        padding: var(--largeLenght1);
    }

}

