.inside{

    height: 100vh;
    background-image: url(/images/test.jpg);
    background-repeat: no-repeat;
 background-size: contain;
    background-position: center;
    background-color: white;
}

h1{
    text-align: center;
    margin: 4rem 0;
    font-size: 3rem;
}

.us{
    width: 350px;
    margin: 12rem auto;
    text-align: center;
}

.background-letter{
   display: flex;
   justify-content: center;
   align-items: center;
}


.us p{
    font-size: 25px;
    font-family: 'Dancing Script' ,'Brush Script MT';
}

.home{
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(/images/aesthetic-rustic-plant-pots-mediterranean-home-decor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
