/* Home section */

.home{
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(/images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 100%;
    margin-left: var(--largeLenght4);
}

.home .content h3{
    font-size: var(--largeLenght5);
    text-transform: uppercase;
    color: var(--black);
}

.home .content p{
    font-size: var(--largeLenght2);
    font-weight: lighter;
    line-height: 1.8;
    padding: var(--mediumLenght1) 0;
    color: var(--black);
}

/* ----------------- */




/* About section */

.about{
    margin-top: 20px;
}

.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: var(--largeLenght3) 0;
    font-size: var(--largeLenght2);
}

.heading span{
    color: var(--brown);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.about .row .content{
    flex: 1 1 45rem;
    padding: var(--largeLenght1);
}

.about .row .content h3{
    font-size: 3.5rem;
    color: var(--black);
    margin-bottom: var(--mediumLenght3);
}

.about .row .content p{
    font-size: var(--largeLenght1);
    color: var(--labelColor);
    padding: var(--mediumLenght1) 0;
    line-height: 1.8;
    margin-bottom: var(--mediumLenght3);
}


/* ----------------- */



/* Meinu section */

.blogs  .blogs-row .box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blogs .blogs-row .box .img{
    flex: 1 1 0rem;
}

.blogs .blogs-row .box .img img{
    max-width: 100%;
    height: auto;
    /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.blogs .blogs-row .box .content{
    flex: 1 1 45rem;
    padding: var(--largeLenght1);
}

.blogs .blogs-row .box .content h3{
    font-size: 3.5rem;
    color: var(--black);
}

.blogs .blogs-row .box .content p{
    font-size: var(--largeLenght1);
    color: var(--labelColor);
    padding: var(--mediumLenght1) 0;
    line-height: 1.8;
    margin-bottom: var(--mediumLenght2);
}

.blogs .blogs-row .box .content a{
    font-size: var(--largeLenght1);
    cursor: pointer;
    margin-top: var(--largeLenght2);
}


.blogs .swiper-pagination-bullet{
    background-color: var(--black);
}

/* ----------------- */



/* Product section */

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--largeLenght2);
}

.products .box-container .box{
   text-align: center;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
   padding: var(--largeLenght1);
   position: relative;
}

.products .box-container .box .new-product{
    width: 6rem;
    height: 2.5rem;
    vertical-align: middle;
    font-weight: 500;
    font-size: var(--largeLenght1);
    background-color: var(--brown);
    color: var(--white);
    position: absolute;
    top: 0;
    right: 0;
}

.products .box-container .box .icons a{
    height: var(--largeLenght4);
    width: var(--largeLenght4);
    line-height: var(--largeLenght4);
    font-size: var(--largeLenght1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: var(--black);
    margin: .3rem;
}

.products .box-container .box .icons a:hover{
    background-color:var(--brown);
}

.products .box-container .box .image{
    padding: var(--largeLenght1) 0;
}

.products .box-container .box .image img{
    height: 25rem;
    border-radius: 0.5rem;
}

.products .box-container .box .content h3{
    color: var(--black);
    font-size: var(--largeLenght1);
}

.products .box-container .box .content .stars{
    padding: var(--mediumLenght3);
}

.products .box-container .box .content .stars i{
    font-size: var(--mediumLenght3);
    color: var(--black);
}

.products .box-container .box .content .price{
    color: var(--black);
    font-size: var(--largeLenght1);
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: var(--mediumLenght3);
}
/* ----------------- */



/* review section */

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review .swiper{
    width: 100%;
    height: auto;
}

.review  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    padding: var(--largeLenght2) var(--largeLenght1);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin: 10px 0px;
  }

.review .swiper-slide .quotes i{
    color: var(--black);
    padding: var(--smallLenght2);
}

.review .swiper-slide p{
    font-size: var(--mediumLenght3);
    line-height: var(--mediumLenght3);
    color: var(--black);
    padding-bottom: var(--largeLenght1);
}

.review .swiper-slide h3{
    padding: var(--mediumLenght1) 0;
    font-size: var(--largeLenght1);
    color: var(--black);
}

.review  .swiper-slide img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%; 
    object-fit: cover;
}

.review .swiper-button-prev, .review .swiper-button-next{
    color: var(--black);
} 


/* ----------------- */


/* Contact section */

.contact .row{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    gap: var(--mediumLenght1);
    margin-bottom: var(--largeLenght5);
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: var(--largeLenght4) var(--largeLenght1);
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: var(--largeLenght1);
    color: var(--black);
}

.contact .row form .input-box {
    display: flex;
    align-items: center;
    margin-top: var(--largeLenght1);
    margin-bottom: var(--largeLenght1);
    background-color: var(--white);
    font-size: var(--largeLenght1);
}

.contact .row form .text-area textarea{
    background-color: var(--white);
    resize: none;
    font-size: var(--largeLenght1);
    padding: 2rem;
}

.contact .row form .input-box span{
    color: var(--black);
    font-size: var(--largeLenght1);
    padding-left: var(--largeLenght1);
}

.contact .row form .input-box input{
    width: 100%;
    padding: var(--largeLenght1);
    font-size: var(--largeLenght1);
    color: var(--black);
    text-transform: none;
    background: none;
}

/* ----------------- */


/* instagram Section */

.media  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media  .swiper {
    width: 80%;
  }

.media  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: auto;
    filter: blur(4px);
    border-radius: 10px;
  }

.media  .swiper-slide img {
    width: 100%;
  }

.media .swiper-slide-active{
    filter: blur(0px);
}

.card{
    font-family: 'Ubuntu' sans-serif;
    position: relative;
    width: 360px;
    min-height: 400px;
    background-color: white;
    padding: 20px;
}

.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .user-details{
    display: flex;
    align-items: center;
}

.card .top .user-details .profile-img{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.card .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .top .user-details h3{
    font-size: 14px;
    color: #4d4d4f;
    font-weight: 600;
    line-height: var(--mediumLenght2);
}

.card .top .user-details h3 span{
    font-size: var(--mediumLenght1);
}   

.card .top .dot{
    transform: scale(0.6);
    cursor: pointer;
}

.card .image-box{
    position: relative;
    width: 100%;
    height: 320px;
    margin: 10px 0 15px;
}

.card .image-box .cover{
    z-index: 2;
}

.card .image-box .instagram-logo{
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

.card .image-box .cover:hover{
    transform: scale(1.05);
    z-index: 0;
    opacity: 0.3;
    
}

.card .action-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .action-btns img{
    max-width: 18px;
    cursor: pointer;
}

.card .action-btns .btns-left img{
    margin-right: 8px;
}

.card .likes{
    font-weight: 600;
    margin-top: 5px;
    font-size: 14px;
    color: #4d4d4f;
}

.card .message{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    color: #777;
    line-height: 1.5rem;
}

.card .message strong{
    color: #262626;
}

.card .message span{
    color: #1d92ff;
    cursor: pointer;
}

.card .comments{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
}

.card .add-comments{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card .add-comments .user-image{
    position: relative;
    min-height: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.card .text{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.cart .text::placeholder{
    color: #777;
}

.card .post-time{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #777;
}

/* ----------------- */

/* Aniamtion */

.animate__animated.animate__slideInDown {
    --animate-duration: 3s;
  }

/* ----------------- */


/* Media  */

@media (max-width:450px){

    .card{
        width: 280px;
    }

}

@media (max-width:768px){

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: var(--largeLenght3);
    }

    .home .content p{
        font-size: var(--largeLenght1);
    }

    .blogs .blogs-row .box .img img{
        display: none;
    }

    .blogs .swiper-pagination-bullet{
        display: none;
    }

    .about .row .image img{
        display: none;
    }


}


@media (max-width:1280px){

    .about .row .image img{
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    }

    .blogs .blogs-row .box .img img{
        border-radius: 0;
    }

}

/* ----------------- */