:root {
    --blue: #808C97;
    --green: #61673b;
    --yellow: #EDBC81;
    --brown: #A76B56;
    --black: #303030;
    --white: #f9f9f9;

    --labelColor: #908E9B;
    --disabledColor: #E1DFE9;

    --smallLenght1: 0.25rem;
    --smallLenght2: 0.5rem;
    --smallLenght3: 0.75rem;

    --mediumLenght1: 1rem;
    --mediumLenght2: 1.25rem;
    --mediumLenght3: 1.5rem;

    --largeLenght1: 2rem;
    --largeLenght2: 3rem;
    --largeLenght3: 4rem;
    --largeLenght4: 5rem;
    --largeLenght5: 6rem;
}

*{
    font-family: 'Poppins', 'Porduct Sans', 'SF Pro Display', sans-serif;
    box-sizing: border-box;
    color: var(--blackTextColor);
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize;*/
    transition: .1s linear;
}

html{
    font-size: 62.5%;
    overflow-x:  hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: var(--smallLenght3);
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
    border-radius: var(--largeLenght3);
}

body{
    background: var(--white);
}

section{
    padding: var(--largeLenght2) 7%;
}

 /* Navbar section */

header{
    display: flex;
    justify-content: space-between;
    padding: var(--largeLenght1) 7%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

header.sticky{
    background: var(--white);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-radius: 0.5rem;
}

header .logo p{
    color: var(--black);
    font-size: var(--largeLenght2);
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    margin: 0 var(--mediumLenght1);
    font-size: var(--largeLenght1);
    color: var(--black);
}

nav a:hover{
    color: var(--brown);
    border-bottom: .1rem solid var(--brown);
    padding-bottom: var(--smallLenght2);
}

header .icons{
    display: flex;
    align-items: center;
}

header .icons i{
    color: var(--black);
    cursor: pointer;
    font-size: var(--largeLenght2);
    margin-left: var(--largeLenght1);
}

header .icons i:hover{
    color: var(--brown);
}

header .icons div:last-child{
    display: none;
}

header .search-bar{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: var(--white);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border-radius: 12px;
    width: 50rem;
    height: var(--largeLenght4);
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

header .search-bar.active{
    transform: scaleY(1);
}

header .search-bar input{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    font-size: var(--mediumLenght3);
    background: var(--white);
    color: var(--black);
    padding: var(--mediumLenght1);
    text-transform: none;
}

header .search-bar label{
    cursor: pointer;
    font-size: var(--largeLenght1);
    margin-right: var(--mediumLenght3);
    color: var(--black);
}

header .search-bar label:hover{
    color: var(--brown);
}

header .shop-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 7rem);
    width: 35rem;
    background: var(--white);
    box-shadow: -15px 0px 17px -7px rgba(33, 35, 38, 0.1);
    padding: 0 var(--mediumLenght3);
}

header .shop-container.active{
    right: 0;
}

header .shop-container .shop-item{
    position: relative;
    margin: var(--largeLenght1) 0;
    display: flex;
    align-items: center;
    gap: var(--mediumLenght3);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

header .shop-container .shop-item img{
    height: 8rem;
}

header .shop-container .shop-item .fa-x{
    font-size: var(--mediumLenght3);
    cursor: pointer;
    color: var(--black);
    position: absolute;
    right: 0;
}

header .shop-container .shop-item .fa-x:hover{
    color: var(--brown);
}

header .shop-container .shop-item .content span{
    font-size: var(--largeLenght1);
    font-weight:600;
}

header .shop-container .shop-item .content h3{
    font-size: var(--largeLenght1);
    font-weight: lighter;
    color: var(--black);
    padding-bottom: var(--smallLenght2);
}

header .shop-container .shop-item .content .price{
    font-size: var(--mediumLenght3);
    color: var(--brown);
}

header .shop-container .empty{
    margin-top: 400px;
    font-size: var(--largeLenght1);
    color: var(--black);
    text-align: center;
}

header .shop-container #total{
    text-align: left;
    font-size: var(--largeLenght1);
    color: var(--black);
    display: none;
}

header .shop-container #get-price{
    color: var(--brown);
}

.btn{
    margin-top: var(--mediumLenght1);
    padding: var(--mediumLenght1) var(--largeLenght2);
    font-size: var(--largeLenght1);
    color: var(--white);
    background: var(--brown);
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    letter-spacing: .1rem;
}

.pay-button {
    margin-top: var(--largeLenght1);
    display: none;   
}

header .shop-container .btn{
    width: 100%;
    text-align: center;
    transition: .2s linear;
}

.account-container {
  position:fixed;
  top:0; 
  left:0;
  bottom:0; 
  right:0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1001;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
  padding: 0;
}

.account-container.show {
  opacity: 1;
  pointer-events: auto;
}

#account-btn{
    font-size: var(--largeLenght1);
    margin-left: var(--mediumLenght2);
    font-weight: 500;
}

.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

.account-container.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.signup_form {
  display: none;
}

.form_container.active .signup_form {
  display: block;
}

.form_container.active .login_form {
  display: none;
}

.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
}

.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

.input_box input:focus {
  border-color: var(--brown);
}

.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
 }

.input_box i.email,
.input_box i.password {
  left: 0;
}

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password,
.input_box input:focus ~ i.pw_hide{
  color: var(--brown);
}

.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}

.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_container a {
  color: var(--brown);
  font-size: 12px;
}
.form_container a:hover {
    text-decoration: underline;
}

.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

.checkbox input {
  accent-color: var(--brown);
}

.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}

.form_container .button {
  color: var(--white);
  background: var(--brown);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

.form_container .button:hover{
  letter-spacing: .1rem;
}

.login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
  
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.result-L, .result-S{
    margin-top: var(--largeLenght1);
    font-size: 12px;
    color: red;
    display: none;
}

/* ------------ */

/* home section */

.home .content{
    max-width: 100%;
    margin-left: var(--largeLenght4);
}

.home .content h3{
    font-size: var(--largeLenght5);
    text-transform: uppercase;
    color: var(--black);
}

.home .content p{
    font-size: var(--largeLenght2);
    font-weight: 700;
    line-height: 1.8;
    padding: var(--mediumLenght1) 0;
    color: var(--black);
}

/* ------------ */


/* Footer Section */

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--mediumLenght3);
    background: #fff;
    font-size: 20px;
    padding-bottom: 5px;
}

.footer .footer-box{
    margin: 0 120px;
}

.footer .footer-box p{
    font-size: 20px;
    margin-bottom: 10px;
}


.footer .footer-box h3{
    font-weight: 600;
    margin-bottom: 20px;
}

.footer .social-icons{
    display: flex;
    align-items: center;
    column-gap: var(--smallLenght2);
}

.footer .social-icons a{
    padding: 10px;
    margin-bottom: 10px;
}

.footer .social-icons a:hover{
    background-color: var(--brown);
}


.footer .footer-box .contact{
    display: flex;
    flex-direction: column;
    row-gap: var(--smallLenght2);
}

.footer .footer-box .contact span{
    margin-right: var(--mediumLenght1);
}

.footer li{
    list-style-type: none;
    margin-bottom: 10px;
    padding: 0px;
    
}

.footer li:hover{
    color: var(--brown);
    border-bottom: .1rem solid var(--brown);
    padding-bottom: var(--smallLenght2);
}

/* ----------------- */


/* Aniamtion */

.animate__animated.animate__slideInDown {
    --animate-duration: 3s;
  }

/* ----------------- */



/* Media  */

@media (max-width:450px){

    html{
        font-size: 50%;
        width: 100%;
    }

}

@media (max-width:768px){

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: var(--largeLenght3);
    }

    .home .content p{
        font-size: var(--largeLenght1);
    }

    #menu-btn{
        display: inline-block;
    }

    nav{
        display: inline;
        position: absolute;
        top: 100%;
        right: -100%;
        background: var(--white);
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    nav.active{
        right: 0;
    }

    nav a{
        display: block;
        margin: var(--mediumLenght3);
        padding: var(--smallLenght2);
        font-size: var(--largeLenght1);
    }

    header .search-bar{
        width: 90%;
        right: 2rem;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: var(--mediumLenght3) var(--largeLenght1);
    }

    section{
        padding: var(--largeLenght1);
    }

}

/* ----------------- */

