.inside{
  margin-top: 70px;
  height: auto;
}


.wrapper {
  width: 100%;
  margin: 0 auto;
}

#search-container {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: var(--largeLenght1);
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: var(--brown);
}

#search-container button{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3em;
  background-color: var(--white);
  color: var(--black);
  padding: 1em 2em;
  margin-left: 1em;
  margin-top: 0.5em;
}

#search-container button:hover{
  background-color: var(--brown);
  color: var(--white);
}


.button-value {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

.button-value:hover{
  background-color: var(--brown);
  color: var(--white);
}

.button-value.active {
  background-color: var(--brown);
  color: #ffffff;
}

#sort label{
  color: var(--black);
  font-size: var(--largeLenght1);
}

#buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin-bottom: var(--largeLenght2);
}

#buttons button{
  margin-left: var(--mediumLenght2);
  margin-bottom: var(--mediumLenght1);
}

#drop-down{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
  padding: 1em 2.2rem;
  border-radius: 3em;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

#products, #favorite {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--largeLenght2);
}

.container-favorite{
  display: none;
}

.container-favorite .title-favorite{
  text-align: center;
  margin: 4rem 0;
  font-size: 3rem;
}

.container-favorite .empty-favorite{
  text-align: center;
  margin: 5rem 0;
  font-size: 2rem;
  display: none;
}

.box{
 text-align: center;
 box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
 padding: var(--largeLenght1);
 position: relative;
}

.new-product{
  width: 6rem;
  height: 2.5rem;
  vertical-align: middle;
  font-weight: 500;
  font-size: var(--largeLenght1);
  background-color: var(--brown);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
}

.icons a{
  height: var(--largeLenght4);
  width: var(--largeLenght4);
  line-height: var(--largeLenght4);
  font-size: var(--largeLenght1);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: var(--black);
  margin: .3rem;
}

.icons a:hover{
  background-color:var(--brown);
}

.image{
  padding: var(--largeLenght1) 0;
}

.image img{
  height: 25rem;
  width:25rem;
  border-radius: 0.5rem;
}

.content h3{
  color: var(--black);
  font-size: var(--largeLenght1);
}

.stars{
  padding: var(--mediumLenght3);
}

.stars i{
  font-size: var(--mediumLenght3);
  color: var(--black);
}

.box .price{
  display: flex;
  justify-content: center;
}

.price p{
  color: var(--black);
  font-size: var(--largeLenght1);
  font-weight: 500;
}

.price span{
  color: var(--black);
  text-decoration: line-through;
  margin-left: 5px;
  font-size: var(--largeLenght1);
}

.hide {
  display: none;
} 

#sort{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: var(--largeLenght5);
}






.modal {
  position: fixed;
  top: 20%;
  left: 25%;
  z-index: 2;
  width: 1000px;
  height: auto;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

/* Modal content */

.modal-container {
  position: relative;
  width: 100%;
  display: flex;
  background: white;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
  font-size: var(--largeLenght1);
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.7rem;
  font-size: 20px;
  cursor: pointer;
  background: transparent;

}

.left, .right {
  width: 50%;
  padding: 30px;
}


.modal-container .quantity {
  display: flex;
}

.modal-container .left img{
  width: 100%;
  height: auto;
}


.modal-container .option img {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.modal-container h3 {
  color: var(--black);
  margin: 20px 0 20px 0;
  font-size: 25px;
}

.modal-container h5,
.modal-container p,
.modal-container small {
  color: #837D7C;
}

.modal-container h4 {
  color: var(--black);
}

.modal-container p {
  margin: 20px 0;
  line-height: 25px;
}

.modal-container h5 {
  font-size: 15px;
}

.modal-container label,
.modal-container .quantity span,
.modal-container .color span {
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  margin: 20px 10px 20px 0;
}

.modal-container .color span:nth-child(2) {
  background: #EDEDED;
}

.modal-container .color span:nth-child(3) {
  background: #D5D6D8;
}

.modal-container .color span:nth-child(4) {
  background: #EFE0DE;
}

.modal-container .color span:nth-child(5) {
  background: #AB8ED1;
}

.modal-container .color span:nth-child(6) {
  background: #F04D44;
}

.modal-container .quantity label,
.modal-container .quantity span {
  background: none;
  border: 1px solid #C1908B;
  color: #C1908B;
  text-align: center;
  line-height: 25px;
}

.modal-container .quantity label {
  padding: 10px 30px 0 20px;
  border-radius: 50px;
  line-height: 0;
}

.modal-container .quantity span, .modal-container button{
 cursor: pointer;
}

.modal-container button {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #C1908B;
  color: white;
  border-radius: 30px;
}

.home{
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  background-image: url(/images/images-pages/cani.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.animate__animated.animate__slideInDown {
  --animate-duration: 3s;
}

@media only screen and (max-width:1280px) {

  .modal{
    width: 500px;
  }

  .modal-container .option img {
    width: 55px;
    height: 55px;
    padding: 10px;
  }

}

@media only screen and (max-width:768px) {
  .modal{
    display: none;
  }

  .overlay{
    display: none;
  }
}



@media (max-width:1280px){

  #products, #favorite{
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width:768px){

  #products, #favorite{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width:450px){

  #products, #favorite{
    grid-template-columns: repeat(1, 1fr); 
  }

  #search-btn, #heart-btn{
    display: none;
  }


}