.inside{
    margin-top: 70px;
    min-height: 100vh;
}

h1{
    text-align: center;
    margin: 4rem 0;
    font-size: 3rem;
}
  
.accordion {
    width: 100%;
    max-width: 1300px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: var(--black);
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}

.accordion-item-header{
    height: 10rem;
    font-size: 2rem;
    padding: 2rem 3rem 2rem 3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header:hover{
    background-color: var(--brown);
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    font-size: var(--largeLenght1);
    padding: 2rem 3rem 2rem 3rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-body-content span{
    text-decoration: underline;
}


.accordion-item-body-content ul{
    list-style: square inside;
}

.animate__animated.animate__slideInDown {
    --animate-duration: 3s;
  }

.home{
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(/images/images-pages/ceainic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
